data/test/1960/esri_georeferenced/*
data/test/1960/athens_173.tif*
data/test/1960/athens_1960_mosaic*
data/test/1960/athens_1960_test*
data/test/1960/athens_1960_export_test.tif.aux.xml
data/test/1960/reprojected173.tif.aux.xml

data/test/1960/GeoTiff/*
!data/test/1960/GeoTiff/.gitkeep

data/test/1960/COG/*

data/test/project.qgs*

data/test/1960/bandExpand/test\.tif

ls4-01-gdal_translate/ls4-01-gdal_translate\.zip

ls4-01-compress/ls4-01-compress\.zip

ls4-02-overviews/ls4-02-overviews\.zip

ls4-03-cog/ls4-03-cog\.zip
data/input_epsg3857/*.tif.aux.xml

ls4-04-shp_index/tile_index\.cpg

ls4-04-shp_index/tile_index\.dbf

ls4-04-shp_index/tile_index\.shp

ls4-04-shp_index/tile_index\.shx

data/input_epsg3857_/*

data/input_epsg3857/01-29-60_4-175\.tif

data/input_epsg3857/01-30-60_5-15\.tif

data/input_epsg3857/

ls4-04-shp_index/*
!ls4-04-shp_index/lambda_function.py
!ls4-04-shp_index/requirements.txt
!ls4-04-shp_index/dep_cleanup.py
secrets.txt

ls4-05-mapfile/*
!ls4-05-mapfile/lambda_function.py
!ls4-05-mapfile/requirements.txt
!ls4-05-mapfile/template.map
